*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
}

.wrapper{
    width: 1170px;
    margin: 0 auto;
}

/* ----------------------------- Navigation Bar -----------------------------*/
.navbar {
    background-color: #080606;
    height: 70px;
}

.navbar-brand{
    font-family: 'Bungee Inline', cursive;
    color: #f0aec4;
    font-size: 5.5rem;
    font-weight: bold;
    letter-spacing: 4px;
}

.navbar-brand:hover{
    color: #ffcfdf;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 0.95rem;
    color: #fff;
    font-family: 'Major Mono Display', monospace;
}

.nav-link:hover {
    font-size: 0.95rem;
    color: #ffcfdf;
    font-family: 'Major Mono Display', monospace;
}

/* ----------------------------- Banner Area -----------------------------*/
.banner-area{
    width: 100%;
    height: 900px;
    position: fixed;
    top: 60px;
    background-image: url(../images/BannerBackground.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    filter: brightness(90%);
}
