/* ----------------------------- Global Styling -----------------------------*/
.container {
    padding: 0 1rem;
}


/* ----------------------------- Navigation Bar -----------------------------*/

.navbar {
    background-color: #524A4E;
}

.navbar-brand {
    font-family: 'Bungee Inline', cursive;
    font-size: 5.5rem;
}

.nav-item {
    padding: 0 2rem;
}

.nav-link {
    color: #fff;
    font-family: 'Major Mono Display', monospace;
}

/* ----------------------------- Leaves Area/Banner -----------------------------*/
.banner-area{
    width: 100%;
    height: 100%;
    position: fixed;
    background-image: url(../images/BannerBackground.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    filter: brightness(90%);
}

.leaves{
    position:absolute;
    width:100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    pointer-events: none;
}

.leaves .set{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    pointer-events: none;
}

.leaves .set div{
    position: absolute;
    display: block;
}

.leaves .set div img{
    width: 100px; 
}

.leaves .set div:nth-child(1){
    left: 12%;
    animation: animate 20s linear infinite;
}

.leaves .set div:nth-child(2){
    left: 25%;
    animation: animate 12s linear infinite;
}

.leaves .set div:nth-child(3){
    left: 50%;
    animation: animate 15s linear infinite;
}

.leaves .set div:nth-child(4){
    left: 66%;
    animation: animate 20s linear infinite;
}

.leaves .set div:nth-child(5){
    left: 82%;
    top: 45%;
    animation: animate 14s linear infinite;
}

.leaves .set div:nth-child(6){
    left: 95%;
    top: 50%;
    animation: animate 15s linear infinite;
}


@keyframes animate{
    0%{
        opacity:0;
        top: -10%;
        transform: translateX(-20px) rotate(45deg);
    }
    10%{
        opacity:1;
    }
    20%{
        transform: translateX(-20px) rotate(45deg);
    }
    40%{
        transform: translateX(-20px) rotate(90deg);
    }
    60%{
        transform: translateX(20px) rotate(180deg);
    }
    80%{
        transform: translateX(-20px) rotate(45deg);
    }
    100%{
        top: 110%;
        transform: translateX(20px) rotate
    }
}


/* ----------------------------- Landing Section -----------------------------*/

.welcomeTitle {
    font-family: 'Bungee Inline', cursive;
    color: #fff;
    background-color:#5e5c5c;
    border-right: .15rem solid #f0aec4;
    font-size: clamp(3.2rem, 5vw, 5vw);

    display: flex;
    position: absolute;
    top: clamp(200px, 30vh, 40vh);
    left: clamp(3%, 5%, 10%);
}


.welcomeDescription {
    font-family: 'Bungee Inline', cursive;
    font-size: 2rem;
    color: #fff;
    background-color:#5e5c5c;
    border-right: .15rem solid #f0aec4;
    font-size: clamp(2.2rem, 2.5vw, 2.5vw);

    display: flex;
    position: absolute;
    top:  clamp(350px, 45vh, 45vh);
    left: clamp(3%, 5%, 10%);

}