/* ----------------------------- Navigation Bar -----------------------------*/

.navbar {
    background-color: #524A4E;
}
.navbar-brand {
    font-family: 'Bungee Inline', cursive;
    font-size: 5.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    color: #fff;
    font-family: 'Major Mono Display', monospace;
}

